
*{
	background-color: #000000;
	color: white;
	text-align: center;
}
.board{
	display: flex;
	flex-Direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-left:auto;
    margin-right:auto;
    width: 600px;
}
.Tile{
    background-color: #2A2A2A;
    width: 20px;
}
#score{
	color: white;
}
#timer{
	border: 1px solid white;
	font-size: 20px;
	margin: 20px;
}